{
  "ASSISTANT_APIKEY": "c9c-CdZsz9w9w2OoXs2Hxh269ggCCS00yajtop9IdSAd",
  "ASSISTANT_URL": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/9987aed6-5e7d-4b31-9eef-19c93f64a538",
  "SKILL_ID": "d6d1d155-4abd-4174-981d-a1109e74e725"
}
